<h1>You generated link</h1>
<p>Copy your link to open your page</p>
<p>
  <strong><%= "localhost:3000/" + @link.url_short %> </strong>
</p>
<%= link_to 'Edit new link', new_link_path %> <br>
<%= link_to 'All links', links_path %>